{% extends 'layout.html' %} {% block content %}
<main id="main">
  <div class="description">
      <div class="game-description-top-bar">
        <button onclick="history.go(-1)">&lt;&lt; Back</button>
        <form action="/toggle-favourite-game" method="POST">
          <input type="hidden" name="gameId" value="{{ game.game_id }}">
          <input type="submit" value="{% if is_favourite_game == True %}Remove from Favourites{% else %}Add to Favourites{% endif %}">
        </form>
      </div>
      <h2 style="color: #45A29E" >{{ game.title }}</h2>
      <p><img class="game-image" src="{{ game.image_url }}" alt="game image"> </p>
      <p><i style="color: #45A29E">Publisher: </i> {{ game.publisher.publisher_name }}
       <p><i style="color: #45A29E">Genre(s): </i>
            {% for genre in game.genres %}
                {{ genre.genre_name }}{% if not loop.last %}, {% endif %}
            {% endfor %} </p>
      <p><i style="color: #45A29E">Release Date:</i> {{ game.release_date }} </p>
      <p><i style="color: #45A29E">Price:</i> {{ game.price }}</p>
      <p><i style="color: #45A29E">About:</i> {{ game.description }} </p>
  </div>

    <p> <h2>Reviews:</h2>
    {% for review in game.reviews %}
        <h3>{{review.comment}} by {{review.user.username}} Rating: {{review.rating}}</h3>
    {% endfor %}
    </p>


    <form action ="/add_review" method="POST">
        <input type="hidden" name="gameId" value="{{ game.game_id }}">
        <label for="rating">Rating</label>
        <select name="rating" id="rating">
            <option value = "5" selected>5 (Excellent)</option>
            <option value = "4" >4 (Good)</option>
            <option value = "3" >3 (Average)</option>
            <option value = "2" >2 (Below Average)</option>
            <option value = "1" >1 (Poor)</option>
        </select>

    <div>
        <label for="comment">Comment:</label>
        <br>
        <textarea placeholder="What are your views on this game?" id="comment" name ="comment"
                  rows="5" cols="50"></textarea>
        <br>
        <button type="Submit" >Submit</button>
    </div>

    </form>

   </main>
{% endblock %}