<header id="header">
    <h1><em>CS235 2023: My Game Library</em></h1>
  <form action="/search" method="POST">
    <div class="search-bar">
      <div class="search-bar-input-container">
        <label for="search-input">Search by keyword</label>
        <input id="search-input" type="text" name="searchTerm" required>
      </div>
      <div class="search-bar-category-dropdown">
        <label for="category-dropdown">Category</label>
        <select name="searchCategory" id="category-dropdown">
          <option value="title">Title</option>
          <option value="publisher">Publisher</option>
          <option value="genre">Genre</option>
        </select>
      </div>
      <div class="search-button">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>

</header>