<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The walmart Steam</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

	<link
      rel="bookmark"
	  type="image/x-icon"
      href="favicon.ico"
    />

	<link
      rel="icon"
      href="favicon.ico"
    />
  </head>

  <link
      rel="stylesheet" href="../static/css/main.css"
  />

  <body>
    <div id="body">
        <header id="header">
            <h1>CS235 2023: My Game Library</h1>
        </header>
        <div class="container">
            <div id="nav">
                {% include 'navigation.html' %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
  </body>
</html>
