<nav id="nav">
    <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
    </div>
    <ul class="nav list">
        <li><a href="/">Home</a></li>
        <li>Games Library </li>
        <li>Dropdown - Genre </li>
        <li>Dropdown - Publisher</li>
<!--        <li class="dropdown">-->
<!--            <a href="#" class="dropdown-toggle">Genres</a>-->
<!--            <ul class="dropdown-menu">-->
<!--                <li><a href="/genre/action">Action</a></li>-->
<!--                <li><a href="/genre/adventure">Adventure</a></li>-->
                <!-- Add more genres here -->
<!--            </ul>-->
    </ul>
</nav>
