/* Global Styles */

body, html {
  min-height: 100%;
  height: 100%;
  background-color: #1F2833;
  color: white;
  font-family: 'Kanit', sans-serif;
}

/* Header Styles */

#header {
  padding: 20px;
  background: #1F2833;
  border-bottom: 1px solid #e0e4e8;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #66FCF1;
}

/* Search Bar Styles */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #EDF5E1;
  width: 100%;
  height: 100px;
}

.search-input {
  width: 50%;
  border-radius: 5px;
}

.search-bar-input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 20px;
}

.search-bar-category-dropdown {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 20px;
}

#search-input, #category-dropdown {
  min-width: 100%;
  height: 40px;
  font-size: 24px;
}

.search-button {
  margin-top: 38px;
  height: 40px;
}

.search-button input[type=submit] {
  background-color: #EDF5E1;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 40px;
  font-size: 24px;
}

.search-button input[type=submit]:hover {
  background-color: #0056b3; /* Darker color on hover */
}

/* Footer Styles */

footer {
  position: fixed;
  bottom: 0;
  background-color: #1F2833;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66FCF1;
}

footer > .copyright {
  margin-left: 5px;
}

/* Content Styles */

#main {
  font-size: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description p i {
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: darkslateblue;
}

.description img {
  vertical-align: top;
}

/* Logo and Images */

.main-logo {
  height: 250px;
  width: 300px;
}

img {
  height: auto;
  width: 200px;
}

.game-image {
  height: auto;
  width: auto;
}

/* Other Styling */

.box {
  display: flex;
}

#article-header {
  color: #45A29E;
}

/* Navigation Styles */

#nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  align-items: center;
  text-align: center;
  color: white;
}

.no-list-style {
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
}

.nav-link {
  color: #c5c6c7;
  text-decoration: none;
}

.nav-link.active {
  color: #e3afbc;
}

/* Apply hover effect to navigation links */
.nav-link:hover {
  color: #e3afbc; /* Change text color on hover */
}

/* Apply hover effect to active navigation link */
.nav-link.active:hover {
  color: #e3afbc; /* Change text color on hover */
}
