{% extends 'layout.html' %}

{% block content %}
<main id="main">
    <div class="formwrapper">
        <h1 class="title">{{ title }}</h1>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }}
            <div class="form-field {% if form.username.errors %}error{% endif %}">{{ form.username.label }} {{ form.username }}
            </div>
            <div class="form-field {% if form.password.errors %}error{% endif %}">{{ form.password.label }} {{ form.password }}
                {% if form.username.errors or user_name_error_message is not none %}
                    {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if user_name_error_message is not none %}
                        <ul class="errors">
                            <li>{{ user_name_error_message }}</li>
                        </ul>
                    {% endif %}
                {% endif %}
                {% if form.password.errors or password_error_message is not none %}
                    {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if password_error_message is not none %}
                        <ul class="errors">
                            <li>{{ password_error_message }}</li>
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
    {% if title == 'Register form' %}
        <a href="{{ url_for('authentication_bp.login') }}" class="custom-link">Already have an account with us? Login here!</a>
    {% elif title == 'Login' %}
        <a href="{{ url_for('authentication_bp.register') }}" class="custom-link">Don't have an account with us? Register here!</a>
    {% endif %}
</main>
{% endblock %}
